[submodule "subprojects/lvgl"]
	path = subprojects/lvgl
	url = https://github.com/lvgl/lvgl/
[submodule "subprojects/fmt"]
	path = subprojects/fmt
	url = https://github.com/fmtlib/fmt
[submodule "subprojects/glaze"]
	path = subprojects/glaze
	url = https://github.com/stephenberry/glaze
